#btn {
    background-color:aqua;
    display: block;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    margin: 30px 0;
}

#btn:hover{
    background-color:#5f95f9;
}

.green {
    background: #1db31d;
}

.gray {
    background: #ccc;
}