#shortPokemonInfo {
    text-transform: capitalize;
    text-align: center;
    border: 2px solid;
    border-radius: 15px;
    position: sticky;
    top: 100px;
    width: 400px;
    height: 550px;
    padding: 5px;
    min-width: 200px;
}

#shortPokemonInfo:hover {
    box-shadow: 0 4px 30px #9292c9;
}

#pokemonName{
    margin: 10px;
}

.pokemons-img{
    height: 50%;
    width: 60%;
}

#shortPokemonInfo > .spanType{
    display: flex;
    width: auto;
    margin: 10px;
    font-size: 20px;
    border-top: 1px solid;
}

#shortPokemonInfo > .spanAbility{
    width: 70%;
    font-size: 18px;
}

.details{
    position: absolute;
    bottom: 0; 
    left: 50%;

}