body {
  padding: 0 150px;
}

#twoSections {
  display: flex;
}

#shortPokemonInfo{
  /* display: flex; */
  justify-content: center;
  overflow: auto;
}

.dark-content {
  background: #000;
  color: #fff;
}
.light-content {
  background: #fff;
  color: #000;
}