#pokemonFullInfo {
    display: flex;
    flex-direction: column;
    align-items: center; 
    top: 10%;
    width: 45%;
    border: 2px solid #fff;
    border-radius: 20px;
    text-transform: capitalize; 
    margin: auto;
    min-width: 300px;
    background: linear-gradient(to top, #6c54e6, #73f0b5)
}

.pokemonName{
    text-align: center;
    margin: 20px; 
    font-size: xx-large;
}

.imgDiv{
    padding: 10px;
    display: flex;
    width: 80%;
}

.pokemon-big-img{ 
    border: 2px solid #fff;
    border-radius: 10px;
    max-width: 50%; 
    margin: 10px;   
    box-shadow: 0 4px 30px #9292c9;
}

.spanInfo {
    width: 70%;
    border-bottom: 1px solid #fff;
    padding: 15px;
    text-align: center;
}

#pokemonStats{
    height: 60%;
    padding: 20px;  
    display: grid;
    grid-template-columns: auto auto;
    margin: 15px;
}
